.page-header {
    background-color: #EBEFF9;
    margin-top: 0;
    padding: 70px 20px 20px 40px;
    text-align: center;
}

title{
    color: black;
    font-size: 4.375rem;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
}

h1{
    color: black;
    font-size: 1.875rem;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
}

h2{
    color: black;
    font-size: 1.4375rem;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
}

h3{
    color: black;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
}

h1, h2, h3, h4, h5, h6{
    margin-top:20px;
    margin-bottom:10px;
    margin-left: 20px;
  }

p{
    margin-left: 20px;
    margin-right: 20px;
}

body {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.0625rem;
    background: #FAFAFA;
}